html, body, head, p, ul, li, a, h1, h2, h3, h4 ,h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Tahoma';
    text-decoration: none;
    color: white;
    list-style: none;
}

body {
   background-color: #454545; 
}

header {
    display: flex;
    justify-content: space-between;
    width: 1460px;
    margin: 0 auto;
    padding-top: 45px;
}

.header-icon {
    width: 216px;
    height: 33px;
}

.header-btn {
    padding: 10px 25px;
    color: #E4B564;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid #E4B564;
}

.header-btn-img {
    margin-right: 10px;
}

main {
    padding-top: 120px;
    width: 1460px;
    margin: 0 auto;
}

.first {
    width: 100%;
}

.fr-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}

.fr-sub-title {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}

.fr-grid {
    margin-top: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr  ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 27px 34px;
    grid-template-areas: 
    "fr-item1 fr-item1 fr-item2 fr-item2 fr-item3 fr-item3"
    "fr-item4 fr-item4 fr-item4 fr-item5 fr-item5 fr-item5";
}

.fr-item1-text, .fr-item2-text, .fr-item3-text, .fr-item4-text, .fr-item5-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.fr-item1 {
    grid-area: fr-item1;
    background-color: #634F2C;
    padding: 220px 0;
}

.fr-item2 {
    grid-area: fr-item2;
    background-color: #B4A385;
    padding: 206px 0;
}

.fr-item3 {
    grid-area: fr-item3;
    background-color: #E4B564;
    padding: 220px 0;
}

.fr-item4 {
    grid-area: fr-item4;
    background-color: #E4B564;
    padding: 220px 0;
}

.fr-item5 {
    grid-area: fr-item5;
    background-color: #B08C4D;
    padding: 220px 0;
}

.secound {
    padding-top: 160px;
    padding-bottom: 190px;
}

.sc-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}

.sc-grid {
    margin-top: 95px;
    display: grid;
    grid-gap: 25px 29px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "sc-item1 sc-item2 sc-item3"
    "sc-item1 sc-item2 sc-item3"
    "sc-item4 sc-item2 sc-item6"
    "sc-item4 sc-item5 sc-item6"
    "sc-item4 sc-item5 sc-item7"
    "sc-item4 sc-item5 sc-item7";
}

.sc-item1 {
    grid-area: sc-item1;
    background-color: #0E0E0E;
    padding: 44px 113px 220px 52px;
}

.sc-item2 {
    grid-area: sc-item2;
    background-color: #242424;
    padding: 44px 113px 345px 52px;
}

.sc-item3 {
    grid-area: sc-item3;
    background-color: #1F1F1F;
    padding: 44px 117px 186px 48px;
}

.sc-item4 {
    grid-area: sc-item4;
    background-color: #1F1F1F;
    padding: 56px 113px 480px 52px;
}

.sc-item5 {
    grid-area: sc-item5;
    background-color: #E4B564;
    padding: 47px 113px 333px 52px;
}

.sc-item6 {
    grid-area: sc-item6;
    background-color: #0E0E0E;
    padding: 44px 117px 245px 48px;
}

.sc-item7 { 
    grid-area: sc-item7;
    background-color: #0A0909;
    padding: 44px 117px 208px 48px;
}

.sc-item1-text {
    width: 302px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.sc-item1-textb {
    font-weight: 700;
}

.sc-item2-text {
    width: 302px;
    width: 302px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

.sc-item2-textb {
    font-weight: 700;
}

.sc-item3-text {
    width: 302px;
    font-size: 205px;
    font-weight: 500;
    line-height: 25px;
}

.sc-item4-text {
    width: 302px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}
.sc-item5-text {
    width: 302px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #000000;
}

.sc-item6-text {
    width: 302px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.sc-item7-text {
    width: 302px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.out-box-th {
    background-color: #0E0E0E;
    margin-bottom: 240px;
}

.thrid {
    width: 1460px;
    margin: 0 auto;
    padding-top: 170px;
}

.th-header-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 72px;
}

.th-header-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
}

.th-header-title-btn {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
}

.th-grid {
    display: grid;
    grid-template-columns: 487px 487px 487px;
    grid-template-rows: 1fr 1fr;
}

.th-grid-item1 {
    background-color: #634F2C;
    padding: 150px 170px;
}

.th-grid-item2 {
    background-color: #E8D2ABC2;
    padding: 60px 80px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
}

.th-grid-item2-img {
    width: 62px;
    margin: 0 auto;
}

.th-grid-item2-img-c {
    width: 140px;
    margin: 0 auto;
}

.th-grid-item2-text {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

.th-grid-item2-text-bl {
    font-weight: 700;
    text-align: center;
}

.th-grid-item3 {
    background-color: #E4B564;
    padding: 150px 170px;
}

.th-grid-item4 {
    background-color: #635A4A;
    padding: 150px 170px;
}

.th-grid-item5 {
    background-color: #B08C4D;
    padding: 150px 170px;
}

.th-grid-item6 {
    background-color: #634F2C;
    padding: 150px 170px;
}